<h2 mat-dialog-title>
    Crear cuenta
</h2>

<mat-dialog-content>
    <form [formGroup]="formRegister">
        <div class="form-container">
            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username" required>
            </mat-form-field>
        </div>

        <div class="form-container">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" required>
            </mat-form-field>
        </div>

        <div class="form-container">
            <mat-form-field>
                <input formControlName="normalizedUserName" matInput placeholder="Normalized Username" required>
            </mat-form-field>
        </div>

        <div class="form-container">
            <mat-form-field>
                <mat-label>Ingrese Password</mat-label>
                <input formControlName="password" matInput [type] = "hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide= !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="create()" >
        <mat-icon>save</mat-icon>
        Save 
    </button>
    <button mat-button (click)="cancel()" color="primary" >
        <mat-icon>cancel</mat-icon>
        Cancelar 
    </button>
</mat-dialog-actions>