<div class="dashboard-container">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <h1 class="app-name">kalum-app</h1>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>
                            help_outline
                        </mat-icon>
                    </button>
                </li>
                <li *ngIf="authService.isAuthenticated()">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesión
                        </button>
                    </mat-menu>
                </li>
                <li *ngIf="!authService.isAuthenticated()">
                    <button mat-icon-button [matMenuTriggerFor]="menuLogin">
                        <mat-icon>person-outline</mat-icon>
                    </button>
                    <mat-menu #menuLogin="matMenu">
                        <button mat-menu-item (click)="login()">
                            <mat-icon>open_in_browser</mat-icon>
                            Iniciar sesion
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>    

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px] = "mobileQuery.matches ? 56: 0" >
        <mat-sidenav #snav fixedToGap="56" [mode]="mobileQuery.matches ? 'over': 'side'" [fixedInViewport] = "mobileQuery.matches">
            <mat-nav-list>
                <div class="profile-card">
                    <div class="header">
                        <h2>{{authService.isAuthenticated() ? authService.usuario.username : 'CAPACITATE'}}</h2>
                        <h4>{{authService.isAuthenticated() ? authService.usuario.email : 'El trabajo bien hecho'}}</h4>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <a mat-list-item [routerLink]="menu.route"  *ngFor="let menu of menuNav">
                    <mat-icon class="icono">
                        {{menu.icon}}
                    </mat-icon>
                    {{menu.name}}
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>