.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.app-name {
    margin-top: 10px;
    margin-left: 8px;
}

ul li {
    list-style: none;
}

.profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
}

.header {
    margin-top: 20px;
}

.sidenav-container {
    flex: 1;
}

.is-mobile .dashboard-toolbar {
    position: fixed;
    z-index: 2;
}

.is-mobile .sidenav-container{
    flex: 1 0 auto;
}

.icono {
    margin-right: 10px;
}
